@import '../../../../styles.scss';

.babbala {
    gap: 2rem;
}

.skill-icon {
    @include flex(column, center, center, 1rem);
    &__image {
        height: 4rem;
        width: 4rem;
   
        @include desktop-large {
            width: calc(0.1rem + 4vw);
            height: calc(0.1rem + 4vw);
        }
        
        svg {
            height: 100%;
            width: 100%;
            fill: $color-white;
        }
    }
    &__text {
        @include knowledge;
        white-space: nowrap;
    }
}