<div class="skill-icon-container">   
    <swiper-container init="false" #swiperContainer>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.HTML"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.CSS"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.JAVASCRIPT"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.GIT"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.TYPESCRIPT"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.SASS"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.ANGULAR"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.REACT"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.VUEJS"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.NODEJS"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.MONGODB"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.MYSQL"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.GOLANG"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.DOCKER"
            ></app-skill-icon>
        </swiper-slide> 
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.DIRECTUS"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.API"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.FIGMA"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.PHOTOSHOP"
            ></app-skill-icon>
        </swiper-slide>
        <swiper-slide>
            <app-skill-icon
                [type]="SkillType.ILLUSTRATOR"
            ></app-skill-icon>
        </swiper-slide>
    </swiper-container>
</div>