@import '../../../styles.scss';

.header-wrapper {
    @include mobile-portrait {
        height: 10vh;
    }
    height: 18vh;
    background-color: $color-blue-bg;
    @include flex(row, center, center);
    box-shadow: 0 12px 0 6px $color-blue-bg;
}

.header {
    @include flex(row, space-between, center);
    &__logo {
        margin-left: 1.438rem;

        @media (min-width: 48em) {
            margin-left: 0;
        }

    }

}

