@import '../../../styles.scss';

.header-wrapper {
    @include mobile-portrait {
        height: 10vh;
        overflow: hidden;
    }
    height: 18vh;
    background-image: linear-gradient( $color-blue-bg-opacity, transparent);
    @include flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(0.5rem);
    box-shadow: 0 6px 12px 0 rgba(20, 29, 47, 0.7);
    &--no-blur {
        backdrop-filter: initial;
    }
}

.header {
    @include flex(row, space-between, center);
    &__logo {
        margin-left: 1.438rem;
        position: relative;
        z-index: 1;
        @media (min-width: 48em) {
            margin-left: 0;
        }

    }

}

