<div class="header-wrapper">
    <div class="container">
        <div class="header">
            <h1 class="header__logo">LOGO</h1>
            <app-menu
                [viewport]="viewport"
                [showMenu]="showMenu"
                [menuItems]="viewport === 'desktop' ? 
                    ['About me', 'Skills', 'Portfolio'] : 
                    ['About me', 'Skills', 'Portfolio', 'Contact']"
            >
            </app-menu>
            <app-burger-close-button (click)="toggleMenu()" *ngIf="viewport === ViewportType.MOBILE"></app-burger-close-button>
        </div>
    </div>
</div>