<div class="footer">
    <div class="footer__logo">
<!-- app-logo -->
        <a class="footer__impressum" routerLink="/impressum">Impressum</a>
    </div>
    <p class="footer__copyright">© Daniel Pozzan 2024</p>
    <div class="footer__socials">
        <app-social-button [type]="SocialButtonType.GITHUB"></app-social-button>
        <a href="mailto:mail@daniel-pozzan.com" target="_blank"><app-social-button [type]="SocialButtonType.EMAIL"></app-social-button></a>
        <app-social-button [type]="SocialButtonType.LINKEDIN"></app-social-button>
    </div>
    <a class="footer__impressum--mobile" (click)="scrollToTop()" routerLink="/impressum">Impressum</a>
</div>