@import '../../../styles.scss';

.footer {
    @include flex(column, space-between, center, 1.5rem);
    @include tablet {
        flex-direction: row;
        gap: 0;
    }
    &__logo {
        @include flex(column, center, center, 0.5rem);
        @include tablet {
            align-items: flex-start;
        }
    }
    &__impressum {
        @include body;
        text-decoration: none;
        display: none;
        @include tablet {
            display: block;
        }
    }
    &__impressum--mobile {
        @include body;
        text-decoration: none;
        display: block;
        @include tablet {
            display: none;
        }
    }
    &__copyright {
        @include body;
    }
    &__socials {
        @include flex(row, center, center);
        gap: 1.813rem;
    }
}