<div class="skills-section">
    <img class="skills-section__shade" src="assets/images/shade-5.png" alt="shade-5" class="skills-section__shade">
    <div class="container h-100">
        <div class="row h-100 position-relative">
            <div class="col-lg-6 h-100 order-2 order-lg-1">
                <app-skill-icon-container></app-skill-icon-container>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 d-flex align-items-center">
                <app-text-skills></app-text-skills>
            </div>
            <div class="col-12 order-3 d-flex justify-content-center d-lg-none mt-3 position-absolute z-index-1 bottom-0 mb-2">
                <app-main-button
                    [label]="'Get in touch'"
                    [type]="MainButtonType.PRIMARY"
                ></app-main-button>
            </div>
        </div>
    </div>
</div>
