<div class="skills-section">
    <img class="skills-section__shade" src="assets/images/shade-5.png" alt="shade-5" class="skills-section__shade">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6 order-2 order-lg-1">
                <app-skill-icon-container></app-skill-icon-container>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 d-flex">
                <app-text-skills></app-text-skills>
            </div>
        </div>
    </div>
</div>

