@import '../../../../styles.scss';

:host {
    display: block;
}
.text-headline {
    @include flex(column, center, center, 1.188rem);
    margin-top: 8.5rem;
    margin-bottom: 4rem;
    @include laptop {
        margin-top: 4.5rem;
    }
    @include mobile-portrait {
        margin-bottom: 1.188rem;
    }
    @include laptop {
        margin-bottom: 8rem;
    }
    @include desktop-large {
        gap: calc(1.188rem + 1vw);
    }
    &__title {
        @include section;
        position: relative;

        
        &::before, &::after {
            content: "";
            display: block;
            height: 0.25rem;
            @include desktop-xx-large {
                height: 0.25vw;
            }
            background-color: $color-dark-orange;
            border-top-left-radius: 0.125rem;
            border-bottom-left-radius: 0.125rem;
            position: absolute;
            top: 50%;
            
        }
        
        &::after {
            width: 300%;
            right: 0;
            transform: translateX(calc(100% + 2vw));
        }
        
        &::before {
            width: 6.25rem;
            left: 0;
            transform: translateX(calc(-100% - 2vw));
            @include mobile-portrait {
                width: 3.25rem;
            }
        }

        &--reverse {
            &::before {
                width: 300%;
                left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0.125rem;
                border-bottom-right-radius: 0.125rem;
                transform: translateX(calc(-100% - 2vw));
            }

            &::after {
                width: 6.25rem;
                right: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 0.125rem;
                border-bottom-right-radius: 0.125rem;
                transform: translateX(calc(100% + 2vw));
                @include mobile-portrait {
                    width: 3.25rem; 
                }
            }
        }
    }

    &__text {
        @include body;
    }
}