@import '../../../../styles.scss';

a {
    @include subtitles;
    text-decoration: none;
}

a[viewport='desktop']:hover {
    color: $color-light-orange;
}

a[viewport='mobile'].active {
    color: $color-light-orange;
}

a[viewport='mobile']::after {
    content: ' ';
    display: block;
    width: 0;
    height: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.125rem;
    background-color: $color-dark-orange;
    transition: width 0.3s ease-in-out;
}

a[viewport='mobile'].active::after {
    width: 100%;
}


