@import '../../../../styles.scss';

:host {
    display: block;
    width: fit-content;
}

.about-section {
    @include mobile-landscape {
        padding: 0;
    }
    width: 100%;
    margin-top: 4rem;
    @include laptop {
        margin-top: 12rem;
    }
    @include flex(column, center, flex-start, 1.188rem);
    @include laptop {
        width: calc(10rem + 35vw);
        @include flex(column, center, flex-start, 2.188rem);
    }
    @include desktop-large {
        gap: calc(1.188rem + 1vw);
    }
    &__title {
        @include section;
        width: 100%;
        text-align: center;
        @include laptop {
            text-align: left;
            width: unset;
        }
    }
    &__content {
        &__text {
            @include body;
        }
    }
    &__cards {
        @include flex(column, center, flex-end, 1.188rem);
        @include laptop {
            gap: 2.188rem;
        }
        width: 100%;
    }
  
}