@import '../../../../styles.scss';

.about-image {
    width: calc(5.313rem + 18.33vw);
    height: calc(5.313rem + 18.33vw);
    border: 4px solid $color-light-orange;
    border-radius: 50%;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: $color-light-orange;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-100%);
    }
    &__shade {
        position: absolute;
        left: 0;
        transform: translateX(-75%) rotate(-180deg);
        height: 100%;
        width: 100%;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 50%;
        object-position: bottom;
        position: relative;
        z-index: 1;
    }
}