<div class="contact-module">
    <div class="contact-module__item contact-module__item--col-5 contact-module__item--text">
        <app-text-contact [title]="'Got a problem to solve?'" [bodyText]="'<p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p><p>Need a web developer? <strong>Contact me!</strong></p>'"></app-text-contact>
    </div>
    <div class="contact-module__item contact-module__item--col-7">
        <app-contact-form></app-contact-form>
    </div>
    <div class="contact-module__item contact-module__item--col-12 contact-module__item--go-up-icon">
        <app-go-up-icon></app-go-up-icon>
    </div>
</div>
