@import '../../../../styles.scss';

.main-button {
    // height: 3.625rem;
    height: calc(1.9rem + 2vw);
    text-decoration: none;
    @include subtitles;
    @include flex(row, center, center);
    border-width: 0.063rem;
    border-style: solid;
    border-radius: 0.625rem;
    padding: 1.5rem;
    @include desktop-large {
        height: calc(1rem + 3vw);
        border-radius: 1rem;
    }
    &[viewport='mobile']{
        height: 3.063rem;
        @include body;
    }
    &[type='default']{
        color: $color-white;
        border-color: $color-light-orange;
        background-color: transparent;
        background-image: radial-gradient(circle at 50% 50%, $color-light-orange 1%, transparent 1%);
        background-position: 50% 50%;
        background-size: 10% 10%;
        transition: background-size 0.3s linear;
        @include laptop {
            &:hover {
                background-color: $color-light-orange;
                background-image: radial-gradient(circle at 50% 50%, $color-light-orange 1%, $color-blue-bg 1%);
                background-position: 50% 50%;
                background-size: 10000% 10000%;
                transition: background-size 0.3s linear;
            }
            &:hover:active {
                transition-duration: 0s;
                background-size: 100% 100%;
            }
        }
    }
    &[type='primary']{
        color: $color-white;
        background-image: radial-gradient(circle at 50% 50%, $color-dark-orange 1%, $color-light-orange 1%);
        background-position: 50% 50%;
        background-size: 100% 100%;
        transition: background-size 0.3s linear;
        @include laptop {
            border-color: $color-light-orange;
            background-color: $color-light-orange;
            &:hover {
                border-color: $color-light-orange;
                background-image: radial-gradient(circle at 50% 50%, $color-dark-orange 1%, $color-light-orange 1%);
                background-position: 50% 50%;
                background-size: 10000% 10000%;
                transition: background-size 0.3s linear;
            }
            &:hover:active {
                transition-duration: 0s;
                background-size: 100% 100%;
            }
        }
    }
    &[type='secondary']{
        color: $color-white;
        border-color: $color-dark-orange;
        background-image: radial-gradient(circle at 50% 50%, $color-light-orange 1%, $color-dark-orange 1%);
        background-position: 50% 50%;
        background-size: 100% 100%;
        transition: background-size 0.3s linear;
        @include laptop {
            &:hover {
                border-color: $color-light-orange;
                background-color: $color-light-orange;
                background-image: radial-gradient(circle at 50% 50%, $color-light-orange 1%, $color-dark-orange 1%);
                background-position: 50% 50%;
                background-size: 10000% 10000%;
                transition: background-size 0.3s linear;
            }
            &:hover:active{
                transition-duration: 0s;
                background-size: 100% 100%;
            }
        }
    }
    &[type='tertiary']{
        color: $color-black;
        border-color: $color-white;
        background-color: $color-white;
    }
    &--desktop {
        display: none;
        @include laptop {
            display: flex;
        }
    }
    &--mobile {
        display: flex;
        @include laptop {
            display: none;
        }
    }
    &--active {
        &[type='default']{
            background-size: 10000% 10000%;
        }
        &[type='primary']{
            background-size: 10000% 10000%;
        }
        &[type='secondary']{
            background-size: 10000% 10000%;
        }
    }
}

