<div class="text-front">
    <div class="text-front__headline">
        <div class="text-front__headline__vertical">
            <h3>I am</h3>
        </div>
        <div class="text-front__headline__horizontal">
            <h1>Daniel Pozzan</h1>
            <h2>Web Developer</h2>
        </div>
    </div>
    <app-main-button
        [label]="'Let\'s talk!'"
        [type]="MainButtonType.PRIMARY"
        [viewport]="viewport"
        (clickTrigger)="scrollToContact()"
    ></app-main-button>
</div>
