@import '../../../styles.scss';

.about-section {
    height: 82vh;
    @include mobile-portrait {
        height: 90vh;
    }
    @include flex(row, center, center);
    &__box {
        @include flex(row, space-between, center);
        &__image {
            display: none;
            @include laptop {
                display: initial;
            }
        }
    }
}