// Font Sizes
$font-size-14: 0.875rem; // 14px
$font-size-16: 1rem; // 16px
$font-size-23: 1.438rem; // 23px
$font-size-32: 2rem; // 32px
$font-size-45: 2.813rem; // 45px
$font-size-64: 4rem; // 64px
$font-size-90: 5.625rem; // 90px
$font-size-128: 8rem; // 128px

// Colors
$color-black: #000;
$color-white: #fff;
$color-cream: #fffcf3;
$color-grey: #B6B6B6;

$color-blue-bg: #141d2f;
$color-dark-orange: #ff4747;
$color-light-orange: #fa7902;

$color-gradient-0: linear-gradient(0deg, #1A2743 0%, #27334B 14%, #141D2F 78%);
$color-gradient-90: linear-gradient(90deg, #1A2743 0%, #27334B 14%, #141D2F 78%);
$color-gradient-100: linear-gradient(100deg, #1A2743 0%, #27334B 14%, #141D2F 78%);
