@import '../../../../styles.scss';

.text-project {
    @include flex(column, center, flex-start, 2rem);
    @include laptop {
        align-items: flex-start;
    }
    &__title {
        @include t5-bold;
        color: $color-dark-orange;
    }
    &__subtitle {
        @include subtitles;
        color: $color-light-orange;
    }
    &__text {
        @include body;
        @include laptop {
            text-align: left;
        }
    }
    &__buttons {
        @include flex(row, center, center, 2rem);
    }
}