@import '../../../../../styles.scss';

:host {
    @include flex(row, flex-end, center);
}

.social-button-bar {
    @include flex(row, center, center, 2rem);
    width: fit-content;
    position: relative;
    @include mobile-portrait {
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
    }
    @include desktop-large {
        gap: 2.5rem;
    }
    @include desktop-x-large {
        gap: 3rem;
    }
    @include desktop-xx-large {
        gap: 2.5vw;
    }
    &::after {
        @include after-line;
    }

    &__email {
        @include subtitles;
        white-space: nowrap;
    }
}