@import '../../../../../styles.scss';

:host {
    @include flex(row, flex-end, center);
}

.social-button-bar {
    @include flex(row, center, center, 2rem);
    width: fit-content;
    position: relative;
    @include desktop-large {
        gap: calc(2rem + 0.5vw);
    }

    &::after {
        content: '';
        display: block;
        height: 0.25rem;
        width: 6.25rem;
        background-color: $color-dark-orange;
        border-top-left-radius: 0.125rem;
        border-bottom-left-radius: 0.125rem;
        @include mobile-landscape {
            position: absolute;
            right: 0;
            width: 100%;
            transform: translate(105%);
        }
    }

    &__email {
        @include mobile-portrait {
            display: none;
        }
        @include subtitles;
    }
}