<ng-container *ngIf="type === SocialButtonType.GITHUB">
    <img class="social-button social-button--github" src="../../../../assets/images/github.png" alt="Github Logo">  
</ng-container>
<ng-container *ngIf="type === SocialButtonType.EMAIL">
    <img class="social-button" src="../../../../assets/images/email.png" alt="Email Logo">
</ng-container>
<ng-container *ngIf="type === SocialButtonType.LINKEDIN">
    <img class="social-button" src="../../../../assets/images/linkedin.png" alt="Linkedin Logo">
</ng-container>
