@import '../../../../styles.scss';

.social-button {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    @include desktop {
        height: 2.25rem;
        width: 2.25rem;
    }
    @include desktop-x-large {
        height: 2.5rem;
        width: 2.5rem;
    }
    @include desktop-xx-large {
        height: 2.5vw;
        width: 2.5vw;
    }
}

