@import '../../../../styles.scss';

.social-button {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;
    @include desktop {
        height: calc(1.875rem + 1vw);
        width: calc(1.875rem + 1vw);
    }
    @include desktop-large {
        height: calc(1.875rem + 1.5vw);
        width: calc(1.875rem + 1.5vw);
    }
}

