.social-button {
    height: 1.875rem;
    width: 1.875rem;
    cursor: pointer;

    &--github {
        height: 2.375rem;
        width: 2.375rem;
        transform: translateY(0.15rem);
        &:hover {
            transform: translateY(0.15rem) scale(1.3);
        }
    }
    &:hover {
        transform: scale(1.3);
    }
}