@import '../../../../styles.scss';

.text-skills {
    margin-bottom: 1.188rem;
    @include flex(column, center, center, 1.188rem);
    @include laptop {
        margin-bottom: 0;
    }
    @include laptop {
        gap: 2.188rem;
    }
    @include desktop-large {
        gap: calc(1.188rem + 1vw);
    }
    &__content {
        @include flex(column, center, flex-end, 1.188rem);
        @include laptop {
            gap: 2.188rem;
        }
        @include desktop-large {
            gap: calc(1.188rem + 1vw);
        }
        &__title {
            @include section;
            position: relative;
            padding-right: 7.25rem;
            @include mobile-landscape {
                padding-right: 0;
            }
            &::after {
                content: '';
                display: block;
                width: 6.25rem;
                height: 0.25rem;
                background-color: $color-dark-orange;
                border-top-left-radius: 0.125rem;
                border-bottom-left-radius: 0.125rem;
                position: absolute;
                right: 0;
                top: 50%;
                @include mobile-landscape {
                    width: 100%;
                    transform: translateX(105%);
                }
            }
        }
        &__paragraph {
            @include body;
            text-align: end;
        }
    }

    app-main-button {
        display: none;
        @include laptop {
            display: initial;
        }
    }
}