<div class="text-skills">
    <div class="text-skills__content">
        <h2 class="text-skills__content__title">My Skills</h2>
        <p class="text-skills__content__paragraph">I hav grown my frontend developments skills that have allowed me to create different real projects. I am a self-taught developer, always looking for new challenges and opportunities to learn. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </div>
    <app-main-button
        [label]="'Get in touch'"
        [type]="MainButtonType.PRIMARY"
        [viewport]="viewport"
    ></app-main-button>
</div>
