@import '../../../../styles.scss';

.text-skills {
    margin-bottom: 1.188rem;
    @include flex(column, center, flex-start, 1.188rem);
    @include laptop {
        margin-bottom: 0;
    }
    @include laptop {
        gap: 2.188rem;
    }
    @include desktop-large {
        gap: calc(1.188rem + 1vw);
    }
    &__content {
        @include flex(column, center, center, 1.188rem);
        @include laptop {
            gap: 2.188rem;
            align-items: flex-start;
        }
        @include desktop-large {
            gap: calc(1.188rem + 1vw);
        }
        &__title {
            @include section;
            @include flex(row, center, center);
            position: relative;
            @include mobile-landscape {
                padding-right: 0;
            }
            &::after {
                @include after-line;
            }
        }
        &__paragraph {
            @include body;
            text-align: start;
            margin-bottom: 1.188rem;
            @include laptop {
                text-align: start;
                margin-bottom: 0;
            }
        }
    }

    app-main-button {
        display: none;
        @include laptop {
            display: initial;
        }
    }
}