<div class="text-skills">
    <div class="text-skills__content">
        <h2 class="text-skills__content__title">My Skills</h2>
        <p class="text-skills__content__paragraph">My skills cover a broad range of frontend technologies, as well as some backend development. I am familiar with various programming languages and frameworks, which allow me to build full-stack applications. Additionally, I have experience with design thinking and some dev-ops practices to enhance the development process.</p>
    </div>
    <app-main-button
        [label]="'Get in touch'"
        [type]="MainButtonType.PRIMARY"
        [viewport]="viewport"
        (clickTrigger)="scrollToContact()"
    ></app-main-button>
</div>
