@import '../../../../styles.scss';

:host {
    display: block;
    width: 100%;
    @include laptop {
        width: calc(15rem + 24vw)
    }
    @include desktop-large {
        width: calc(15rem + 26vw);
    }
}

.about-card {
    @include flex(row, center, center, 1.188rem);
    @include tablet {
        gap: 2.188rem
    }
    &__info {
        &__text {
            @include body;
        }
    }
}