@import '../../../styles.scss';

svg {
  width: 4rem;
  height: 4rem;
  @include desktop {
    width: 4.5rem;
    height: 4.5rem;
  }
  @include mobile-portrait {
    width: 3.75rem;
    height: 3.75rem;
  }
  @include desktop-large {
    width: 6vw;
    height: 6vw;
  }
  position: relative;
  z-index: 2;
}

.cls-1 {
    fill: url(#linear-gradient-2);
    opacity: .41;
  }

  .cls-1, .cls-2, .cls-3, .cls-4 {
    mix-blend-mode: multiply;
  }

  .cls-5 {
    fill: none;
  }

  .cls-6 {
    fill: url(#linear-gradient-4);
    mix-blend-mode: soft-light;
  }

  .cls-2 {
    fill: url(#linear-gradient-6);
  }

  .cls-2, .cls-3 {
    opacity: .75;
  }

  .cls-7 {
    fill: $color-blue-bg;
  }

  .cls-8 {
    fill: url(#linear-gradient-3);
  }

  .cls-9 {
    isolation: isolate;
  }

  .cls-3 {
    fill: url(#linear-gradient-7);
  }

  .cls-4 {
    fill: url(#linear-gradient-5);
    opacity: .46;
  }

  .cls-10 {
    fill: url(#linear-gradient);
  }