@import '../../../styles.scss';

.header-offset {
    height: 18vh;
    @include mobile-portrait {
        height: 10vh;
    }
}

.front-overflow {
    overflow-y: auto;
    @include laptop {
        overflow-y: hidden;
    }
    position: relative;
}

.front-section {
    background-color: $color-blue-bg;
    height: 82vh;
    @include flex(column, top, center);
    background-image: url('../../../assets/images/background-blue.png');
    background-repeat: no-repeat;
    overflow-x: hidden;
    @include mobile-portrait {
        height: 90vh;
        background-size: 100vw 130vw;
    }
    @include mobile-landscape {
        background-size: 100vw 120vw;
    }
    @include tablet {
        background-size: 100vw 75vw;
    }
    @include laptop {
        background-size: 100vw 30vw;
    }
    background-position: bottom;
    &__headline {
        width: 100%;
        &__name {
            white-space: nowrap;
            @include section;
        }
        &__vertical {
            @include title;
            white-space: nowrap;
            writing-mode: vertical-rl;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
        }
        &__job {
            @include job;
            color: $color-dark-orange;
        }
        &__actions {
            @include flex(row, flex-start, center);
        }
    }
    &__image {
        height: 23.25rem;
        width: 18.35rem;
        z-index: 1;
        @include tablet {
            height: calc(22rem + 12.5vh);
            width: calc(17.6rem + 10vh);
        }
        object-fit: cover;
        border-radius: 40%;
        object-position: top; 
    }
    &__image-box {
        @include flex(row, center, flex-end);
        position: relative;
        background-image: url('../../../assets/images/shade-1.png');
        background-repeat: no-repeat;
        background-size: cover;

        background-position: center;
        @include laptop {
            background-size: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    &__social {
        padding-block: 1rem;
        width: 100%;
        @include flex(row, center, center);
      
        &__email {
            @include mobile-portrait {
                display: none;
            }
            @include subtitles;
        }
    }
}
