<div class="header-offset"></div>
<div class="front-section">
    <div class="container h-100 d-flex d-lg-block front-overflow">
        <div class="row h-100">
            <div class="col-lg-7 d-flex justify-content-center align-items-center order-lg-1 order-2 border-x">
                <div class="front-section__headline">
                    <div class="row d-flex justify-content-center mt-4 mt-md-0">
                        <div class="col-1 position-relative d-flex justify-content-end">
                            <h3 class="front-section__headline__vertical">I am</h3>
                        </div>
                        <div class="col-10 col-sm-8 col-md-11">
                            <h1 class="front-section__headline__name">Daniel Pozzan</h1>
                            <h2 class="front-section__headline__job">Web Developer</h2>
                        </div>
                    </div>
                    <div class="front-section__headline__actions d-flex justify-content-center d-md-block mt-4">
                        <app-main-button
                            [label]="'Let\'s talk!'"
                            [type]="MainButtonType.PRIMARY"
                            [viewport]="viewport"
                        ></app-main-button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-center front-section__image-box order-lg-2 order-1 border-x">
                <!-- <img class="front-section__background front-section__background--right" src="./assets/images/shade-2.png" alt="">
                <img class="front-section__background front-section__background--left" src="./assets/images/shade-3.png" alt=""> -->
                <img class="front-section__image" src="./assets/images/profile-small.webp" alt=""/>
            </div>
        </div>
    </div>
    <div class="front-section__social">
        <div class="container">
            <app-social-button-bar></app-social-button-bar>
        </div>
    </div>
</div>
