<div class="header-offset"></div>
<div class="front-section">
    <div class="container h-100 d-flex justify-content-center d-lg-block front-overflow">
        <div class="row h-100">
            <div class="col-lg-7 d-flex justify-content-center justify-content-lg-start align-items-center order-lg-1 order-2 border-x">
                <app-text-front></app-text-front>
            </div>
            <div class="col-lg-5 text-center mb-4 mb-lg-0 front-section__image-box order-lg-2 order-1 border-x">
                <img class="front-section__image" src="./assets/images/front-profile-nobg.png" alt=""/>
            </div>
        </div>
    </div>
    <div class="front-section__social">
        <div class="container">
            <app-social-button-bar></app-social-button-bar>
        </div>
    </div>
</div>
