/* You can add global styles to this file, and also import other style files */
@import 'styles/variables/variables';
@import 'styles/mixins/typography';
@import 'styles/base/fonts';
@import 'styles/base/base';
@import 'styles/mixins/flexgrid';
@import 'styles/mixins/position';
@import 'styles/mixins/breakpoints';
@import 'styles/mixins/classes';

body {
    background-color: $color-blue-bg !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

.container {
    max-width: 80vw;
    @include mobile-portrait {
        max-width: 85vw;
    }
    border: 1px solid white;
}
