@import '../../../styles.scss';

.desktop-menu {
    @include flex(row, center, center, 1.813rem);
    background-color: $color-blue-bg;
    width: fit-content;
}

.mobile-menu--overlay {
    @include mobile-portrait {
        @include position(fixed, 10vh, 0, 0, 0);
    }
    @include position(fixed, 6.813rem, 0, 0, 0);
    @include flex(row, center, center);
    background-color: $color-blue-bg;
    z-index: 2;
}

.mobile-menu {
    @include flex(column, center, flex-start, 1.813rem);
    width: fit-content;
    height: fit-content;
}