@import '../../../styles.scss';

.desktop-menu {
    @include flex(row, center, center, 1.813rem);
    width: fit-content;
}

.mobile-menu--overlay {
    @include position(fixed, 0, 0, 0, 0);
    @include flex(row, center, center);
    background-color: $color-blue-bg-opacity;
    backdrop-filter: blur(0.5rem);
    min-height: 0;
    transition: all 0.3s ease-in-out;
    &--full-height {
        min-height: 100vh;
    }
}

.mobile-menu {
    @include flex(column, center, flex-start, 1.813rem);
    width: fit-content;
    height: fit-content;
}