<div class="desktop-menu" *ngIf="viewport === 'desktop'; else mobileMenu">
    <app-menu-button 
        *ngFor="let item of menuItems" 
        [label]="item" 
        [viewport]="viewport"
    ></app-menu-button>
</div>
<ng-template #mobileMenu>
    <div 
        class="mobile-menu--overlay" 
        [ngClass]="{'mobile-menu--overlay--full-height': showMenu}"
    >
        <div class="mobile-menu" *ngIf="showMenu">
            <app-menu-button 
                *ngFor="let item of menuItems" 
                [label]="item" 
                [viewport]="viewport"
            ></app-menu-button>
        </div>
    </div>
</ng-template>
