@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin grid($columns: 1, $rows: 1, $column-gap: 0, $row-gap: 0) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin grid-area($column: 1, $row: 1, $column-span: 1, $row-span: 1) {
    grid-column: $column / span $column-span;
    grid-row: $row / span $row-span;
}