<div class="section-wrapper">
    <div class="container">
        <div class="section-headline" >
            <app-text-headline [headline]="'Portfolio'" [text]="'Check out a few of my past hobby projects to see the skills and creativity I\'ve developed.<br><br><span>New projects COMING SOON! Please note, professional work I’ve collaborated on cannot be shown here. For more information, feel free to reach out privately, and I’ll gladly share the details.</span>'"></app-text-headline>
        </div>
        <div class="section-grid">
            <div class="section-grid__item">
                <app-project-card [title]="'El Pollo Loco - 2022'" [subtitle]="'Javascript | OOP | Canvas | Game Development'" [text]="'A jump-and-run game developed using vanilla JavaScript and Object-Oriented Programming (OOP). It includes collision detection, character animation, and obstacle interactions. This project helped me improve my problem-solving skills and deepen my understanding of game mechanics.'" [projectHref]="'https://el-pollo-loco.daniel-pozzan.com/'" [githubHref]="'https://github.com/pozzandaniel/El-pollo-loco'" [image]="'./assets/images/el_pollo_loco_resized.png'"></app-project-card>
            </div>
            <div class="section-grid__item">
                <app-project-card [projectHref]="'https://join.daniel-pozzan.com/'" [githubHref]="'https://github.com/pozzandaniel/Join'" [reverse]="true" [image]="'./assets/images/join_resized.png'" [title]="'Join - 2022'" [subtitle]="'JavaScript | SCRUM | CSS | Authentication'" [text]="'A basic SCRUM tool built with vanilla JavaScript to help manage tasks and sprints. It features user input for task creation, a simple drag-and-drop interface for prioritizing, and a customizable task status system. This project enhanced my understanding of project management workflows.'"></app-project-card>
            </div>
            <div class="section-grid__item">
                <app-project-card [projectHref]="'https://ring-of-fire.daniel-pozzan.com/'" [githubHref]="'https://github.com/pozzandaniel/Ring-of-fire'" [image]="'./assets/images/ring_of_fire_resized.png'" [title]="'Ring of Fire - 2022'" [subtitle]="'Angular | Firebase | SCSS | Angular Material'" [text]="'Ring of Fire is a card game developed using Angular, Firebase, and the Angular Material library. It allows real-time multiplayer interactions, game state synchronization, and smooth game transitions. This project helped me enhance my skills in full-stack development and UI design.'"></app-project-card>
            </div>
            <div class="section-grid__item">
                <app-project-card [projectHref]="'https://www.daniel-pozzan.com/'" [githubHref]="'https://github.com/daniel-pozzan/portfolio2024'" [reverse]="true" [image]="'./assets/images/portfolio_resized.png'" [title]="'Portfolio - 2024'" [subtitle]="'Angular | SCSS | Design Thinking'" [text]="'This portfolio website showcases my old skills and projects. It\'s built with Angular, SCSS, and Angular Material, featuring a responsive design and interactive elements. This project helped me improve my skills in web development and UI design.'"></app-project-card>
            </div>
        </div>
    </div>
    <img class="section-wrapper__shade-center" src="./assets/images/shade-6.png" alt="shade">
    <img class="section-wrapper__shade-bottom" src="./assets/images/shade-5.png" alt="shade">
</div>
