@import '../../../styles.scss';

.section-wrapper {
    @include flex(column, center, center);
    overflow-x: hidden;
    margin-top: 4rem;
    position: relative;
    &__shade-center {
        position: absolute;
        width: 20rem;
        right: 0;
        transform: rotate(180deg) translate(-25%, 100%);
        @include tablet {
            width: 25rem;
        }
    }
    &__shade-bottom {
        position: absolute;
        width: 30rem;
        left: 0;
        bottom: 0;
        transform: translate(-50%, -50%);
        @include tablet {
            width: 35rem;
        }
    }
    @include laptop {
        margin-top: 8rem;
    }
    .section-grid {
        @include grid(repeat(12, 1fr), auto);
        row-gap: 3rem;
        &__item {
            grid-column: span 12;
            margin-bottom: 4.5rem;
            @include laptop {
                margin-bottom: 9rem;
            }
        }
    }
}

